@page
@model MyFirstWebApp.Pages.SignInAttendanceModel
@{
    ViewData["Title"] = "Sign In";
}

<form method="post">
    <label for="RFID">Scan your card</label>
    <input type="text" id="RFID" name="RFID" />
    <input type="submit" value="Submit" id="Submit" />
</form>

<div id="MyClockDisplay" class="clock" onload="showTime()"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].AttDateTime)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Attendance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttDateTime)
            </td>
        </tr>
}
    </tbody>
</table>


<script language="Javascript">
    function showTime() {
        var date = new Date();
        var h = date.getHours(); // 0 - 23
        var m = date.getMinutes(); // 0 - 59
        var s = date.getSeconds(); // 0 - 59
        var session = "AM";

        if (h == 0) {
            h = 12;
        }

        if (h > 12) {
            h = h - 12;
            session = "PM";
        }

        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        var time = h + ":" + m + ":" + s + " " + session;
        document.getElementById("MyClockDisplay").innerText = time;
        document.getElementById("MyClockDisplay").textContent = time;

        setTimeout(showTime, 1000);

    }


    function FocusOnInput()
    {
        document.getElementById("RFID").focus();  
    }

    window.onload = function() {
        FocusOnInput();
    }

    showTime();
</script>


            <style>
    /*body {
        background: black;
    }*/

    .clock {
        position: absolute;
        right: 20px;
        top: 40px;
        color: #17D4FE;
        font-size: 60px;
        font-family: Orbitron;
        letter-spacing: 7px;
    }
            </style>